# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = crlf

[*.{cpp,h}]
indent_size              = 4
indent_style             = space
trim_trailing_whitespace = true
insert_final_newline     = true